

  /* First Section */
  .first-section {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .first-section h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .first-section p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em ;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  .button:hover
  {
    background-color: #0069d9;
    transition: background-color 0.3s ease;
  }
  
  /* Other Sections */
  section {
    padding: 50px;
    text-align: center;
  }
  
  .sign
  {
    display: flex;
    flex-direction: row;
    justify-content:center;
    border-bottom: 3px solid  #222;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
    h2 
  {
    padding: 10px;
    margin:20px;
  }
  /* Footer */
  footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive Design (Optional) */
  @media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .first-section h1 {
      font-size: 2rem;
      margin-bottom: 5px;
      padding: 0px;
    }
    .first-section p {
      font-size: 1.2rem;
      padding: 0px;
    }
    .first-section {
      background-size: cover;
      background-position: center;
      color: #fff;
      text-align: center;
      padding: 0px 0;
    }

    .sign
    {
      display: flex;
      flex-direction: row;
      justify-content:center;
      border-bottom: 0px solid  #222;
      margin-top: 0%;
      padding: 0px;
    }

    .signup-section
    {
      padding: 0px;
      margin-top: 0%;
    }

    .trainer-section
    {
      padding: 0px;
      margin-top: 0%;
    }
    .member-section
    {
      padding: 0px;
      margin-top: 0%;
    }
    .button
    {
      padding: 10px 10px;
      border-radius:  0px;
    }
  }