nav {
  width: 100%;
  height: 60px;
  margin-top: 10px; 
  border-radius: 20px;
  background-color: rgba(34, 34, 34, 0.8);
  display: flex;
  justify-content: space-around; /* Align sections: left, center, right */
  align-items: center;
  position: sticky;
  top: 0;
  
}

.header {
  text-decoration: none;
  color: white;
}

.exercises {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-center {
  flex-grow: 1;
  justify-content: center;
}

.nav-right {
  justify-content: flex-start;
}

.dropdown {
  padding: 5px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.login {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}
